<!-- card-container.component.html -->

<div class="card-container">
  <mat-form-field>
    <mat-label>ETF 1</mat-label>
    <input matInput list="etf1" name="menace" [(ngModel)]="etf1">
    <datalist id="etf1">
      <option *ngFor="let option of options">{{ option }} </option>
    </datalist>
    {{ options.includes(etf1) ? 'Tipo: ' + this.optionsMap[etf1] : '' }}
  </mat-form-field>

  <mat-form-field>
    <mat-label>ETF 2</mat-label>
    <input matInput list="etf2" name="menace" [(ngModel)]="etf2">
    <datalist id="etf2">
      <option *ngFor="let option of options">{{ option }} </option>
    </datalist>
    {{ options.includes(etf2) ? 'Tipo: ' + this.optionsMap[etf2] : '' }}
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="calcular()"> Calcular </button>
</div>
