/* card-container.component.css */

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 60%;
  max-width: 800px;
}

.card-container button {
  height: 50px;
}
